<div class='Nav-Bar p-1'>
    <a href="/" class="">
        <img src="@image-logo" alt="Logo" width="200" height="62">
    </a>
    
    <ul class="uppercase mt-4 h-7">
        <li class="hidden-elem">
            <button class="text-white">▼</button>
        </li>

        <li class="@addclass-game">
            <a href="/" className='text-white hover:text-emerald-500'>lol</a>
        </li>
    </ul>

    <label class="Toggle-Box">
        <input type="checkbox" class="hidden-checkbox">
        <span class="bulb-btn"><i class="fa fa-lightbulb-o"></i></span>
    </label>
</div>